*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
expe*
old_files
# *.sh
*.ipynb
*.txt
*.png
*.log
*.out
__pycache__
*build*
*.npy
scripts/
data
results
dataset-360v2
gaussian_splatting
grendel_octree
grendel_octree_finer
grendel_octree_test
grendel_octree_finer_2
test.png
core*
torch_scatter*
datasets
grendel_octree_downsample
grendel_octree_nearcam
grendel_octree_test
grendel_octree_lowerthred
grendel_octree_densify
datasets_building
grendel_octree_building
exp/
grendel_octree_building_2
grendel_octree_rubble_2
slurm-*
output
datasets
train.sh
torch_scatter-2.1.1+pt20cu118-cp38-cp38-linux_x86_64.whl
sub_pgsr/diff-gaussian-rasterization/build
huace_street.zip
huace_street
datasets_local
tianji_data
street.tar
train2.sh
# sub_pgsr/diff-gaussian-rasterization/third_party/glm